<div style="display: flex; justify-content: space-around">
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>NB_Member</mat-card-title>
      <mat-card-subtitle>{{ nbMemebers }}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>NB EVENT</mat-card-title>
      <mat-card-subtitle>{{ nbEvent }}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>NB PUB</mat-card-title>
      <mat-card-subtitle>{{ nbPub }}</mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <mat-card appearance="outlined">
    <mat-card-header>
      <mat-card-title>NB TOTAL</mat-card-title>
      <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
  </mat-card>
</div>
<div>
  <div
    class="chart-wrapper"
    style="
      display: grid;
      grid-template-columns: 500px 500px;
      justify-content: space-around;
    "
  >
    <div>
      <canvas
        baseChart
        [type]="'pie'"
        [datasets]="chartDataPie"
        [labels]="chartLabelsPie"
        [options]="chartOptions"
      >
      </canvas>
    </div>
    <div>
      <canvas
        baseChart
        [type]="'line'"
        [datasets]="chartDataLine"
        [labels]="chartLabelsLine"
        [options]="chartOptions"
      >
      </canvas>
    </div>
  </div>
</div>
