<mat-dialog-content [formGroup]="form">
  <mat-form-field>
    <input matInput placeholder="title" formControlName="title" />
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="date debut" formControlName="dateDebut" />
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="date Fin" formControlName="dateFin" />
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Lieu" formControlName="lieu" />
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
  <button class="mat-raised-button mat-primary" (click)="save()">Save</button>
</mat-dialog-actions>
